#listapp-header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

#listapp-header h1 {
    width: 100%;
}

#listapp-header button {
    margin-right: 10px;  
}

#itemCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 40px;
}

#itemCards .card {
    flex: 1 0 60%;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0pc 1px 1px;
}

.modal-header {
    background: #0d6efd;
    color: #FFF;
}

.modal-body {
    margin-top: 20px;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.modal-body form .inputField {
    flex-basis: 100%;
}

form .inputField > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    align-items: end;
}

form .inputField > div label {
    font-size: 20px;
    font-weight: 500;
}

form .inputField .card-title,
form .inputField .card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#itemAdd form .inputField > div label::after {
    content: "*";
    color: red;
}

form .inputField > div input,
form .inputField > div textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #0d6efd;
}

.modal-footer .submit {
    font-size: 18px;
}

#itemRead form .inputField > div input {
    color: #000;
    font-size: 18px;
}